<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <div id="app">
      {{msg}}
      <!-- <input type="text" :value="msg" @input="change"> -->
      <input type="text" v-model.lazy="msg">
      {{arr}}
      <input type="checkbox" v-for="item in arr" v-model="item.check"> 

    </div>
    <script src="node_modules/vue/dist/vue.js"></script>
    <script>
      let vm=new Vue({
        el:'#app',
        data(){
          return {
            msg:'msg',
            arr:[{value:'香蕉',check:false},{value:'苹果',check:false}]
          }
        },
        methods:{
          change(e){
            this.msg=e.target.value
          }
        }
      })
    </script>
</body>
</html>